@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  color: #fefefe;
  box-sizing: border-box;
}

.main {
  background-color: #212634;
}

span {
  font-family: "italianno";
  font-weight: 200;
  font-size: 28px;
}

/* Estilos barra de desplazamiento */
::-webkit-scrollbar {
  width: 2px;
}

/* Fondo de la barra */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Estilo de la "thumb" */
::-webkit-scrollbar-thumb {
  background: #DD9943;
  border-radius: 6px;
}

.containerMenu {
  padding: 20px 0px;
}
.containerMenu__title {
  text-align: center;
  font-family: "italianno";
  font-weight: 200;
  font-size: 60px;
}
.containerMenu ul li {
  background-color: #292F3F;
  border: 1px solid #DD9943;
  margin: 20px 0px;
  margin-right: 20px;
  margin-left: 10px;
  padding: 2px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.containerMenu ul li:hover {
  transform: scale(1.02);
}
.containerMenu ul li p {
  font-family: "italianno";
  font-weight: 200;
  font-size: 28px;
}
.containerMenu ul li p:first-child {
  font-family: "Josefin Slab";
  font-weight: 300;
  font-size: 22px;
  overflow: hidden;
  word-break: break-all;
}

.containerPedido {
  background-color: rgb(146, 38, 38);
  background-color: #292F3F;
  border: 1px dotted #DD9943;
  border-radius: 10px;
  padding: 5px 15px;
}
.containerPedido__productos {
  overflow-y: auto;
}
.containerPedido__productos__title {
  text-align: center;
  font-family: "italianno";
  font-weight: 200;
  font-size: 50px;
}
.containerPedido__productos ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid #fefefe;
  border-bottom: 1.5px solid #fefefe;
  margin: 6px 0px;
  padding: 0px 10px;
}
.containerPedido__productos ul li div {
  width: 90%;
}
.containerPedido__productos ul li div p {
  line-height: 35px;
  font-family: "Josefin Slab";
  font-weight: 600;
  font-size: 18px;
}
.containerPedido__productos ul li div p:first-child {
  font-family: "Josefin Slab";
  font-weight: 300;
  font-size: 22px;
  overflow: hidden;
  word-break: break-all;
}
.containerPedido__productos ul li button {
  background-color: #DD9943;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  color: #292F3F;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.containerPedido__productos ul li button:hover {
  transform: scale(1.05);
}
.containerPedido__propina {
  border-top: 1.5px dotted #DD9943;
  border-bottom: 1.5px dotted #DD9943;
  margin-top: 10px;
  padding: 0px 10px;
}
.containerPedido__propina h3 {
  font-family: "Josefin Slab";
  font-weight: 600;
  font-size: 28px;
}
.containerPedido__propina div {
  background-color: rebeccapurple;
}
.containerPedido__propina div label {
  margin-right: 20px;
}
.containerPedido__propina div input[type=radio] {
  appearance: none; /* Quitar el estilo por defecto */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #DD9943;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin: 0px 4px;
}
.containerPedido__propina div input[type=radio]:checked {
  background-color: #DD9943; /* Rellenar con dorado cuando esté seleccionado */
}
.containerPedido__propina div input[type=radio]:checked::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containerPedido__total {
  border-top: 1.5px dotted #DD9943;
  border-bottom: 1.5px dotted #DD9943;
  padding: 0px 10px;
}
.containerPedido__total h3 {
  font-family: "Josefin Slab";
  font-weight: 600;
  font-size: 28px;
}
.containerPedido__total p {
  font-family: "Josefin Slab";
  font-weight: 200;
  font-size: 18px;
}
.containerPedido > button {
  background-color: #DD9943;
  font-family: "Josefin Slab";
  font-weight: 600;
  font-size: 24px;
  padding: 0px 35px;
  margin: 10px;
  border-radius: 5px;
}

/*# sourceMappingURL=main.css.map */
