.containerPedido{
    background-color: rgb(146, 38, 38);
    background-color: $blue-light;
    border: 1px dotted $gold;
    border-radius: 10px;
    padding: 5px 15px;

    &__productos{
        &__title{
            text-align: center;
            @include font('italianno',200,50px);
        }
    }
}
